@import url('https://fonts.googleapis.com/css?family=Gaegu');

body{
	padding: 0;
	margin: 0;
	background-color: #111111;
}

html,body{
	width: 100%;
	height: 100%;
}

.col-md-12{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.cabecalho{
	background-image: url(../../image/image3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
}

nav.black{
	background:rgba(0,0,0,0.8);
	height: 100px;
	z-index: 5;
	padding: 10px 100px;
}

nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .3s;
}

nav .logo a{
	color: white;
	text-decoration: none;
}

nav.black .logo{
	color: #fff;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}

.col-md-12 nav ul li a{
	line-height: 80px;
	color: white;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

nav.black ul li a{
	color: #fff;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
	background-color: rgba(255,255,255,0.5);
}

footer ul{
	list-style: none;
	width: fit-content;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

footer ul li{
	list-style: none;
}

footer ul li{
	line-height: 0px;
	color: black;
	padding: 12px 10px;
	text-decoration: none;
	transition: .3s;
}

.footer,.push {
 	height: 50px;
}

.quemsou{
	background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../../image/quemsou.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center;
	height: 100%;
	border-bottom: 5px solid black;
	display: table;
}

.quemsou .content{
	padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
}

.quemsou h2{
	font-family: 'Gaegu', cursive;
    font-size: 80px;
    text-align: center;
	padding: 0;
    margin: 40px;
    color: white;
    vertical-align: middle;
}

.quemsou p{
	font-family: 'Gaegu', cursive;
    font-size: 3vw;
    text-align: justify;
    padding: 0px 100px 50px;
    margin: 40px;
    color: white;
    vertical-align: middle;
}

.mascara{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	vertical-align: middle;
}

.trabalhos{
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	display: table;
}

.trabalhos .content{
	padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
}

.trabalhos-inside{
	padding: 0px 20px 0px 20px;
}

.trabalhos ul li{
	list-style: none;
}

.trabalhos img{
	width: 100%;
}

.trabalhos h2{
	font-family: 'Gaegu', cursive;
	text-align: center;
	font-size: 70px;
	margin-bottom: 50px;
}

.trabalhos h3{
	font-family: 'Gaegu', cursive;
	font-size: 25px;
    margin-left: 10px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.contato{
	font-family: 'Gaegu', cursive;
	height: auto;
	background-color: #111;
}

.contato h1{
	color: white;
	font-size: 50px;
	margin-bottom: 50px;
}

.contato h2{
	color: white;
	font-size: 30px;
	margin-bottom: 50px;
}

.formulario{
	padding-top: 10%;
	text-align: center;
	margin: 0 20% 0 20%;
	margin-bottom: 50px;
}

form{
	margin-bottom: 100px;
}

.form-group input{
	margin-top: 10px;
	font-size: 20px;
	background-color: #111;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 0px;
	color: white;
}

.form-group textarea{
	margin-top: 10px;
	font-size: 20px;
	background-color: #111;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 0px;
	color: white;
}

.btn-primary{
	width: 100%;
	background: rgba(0,0,0,0.3) none repeat scroll 0 0;
	border: solid 1px #444;
	font-size: 20px;
	border-radius: 0px;
	color: #888;
}

.btn-primary:hover {	
    cursor: pointer;
    background: rgba(255,255,255,0.3) none repeat scroll 0 0;
    border: solid 1px #AAA;
}

.form-control:focus{
	border-color: red;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
}

ul.gallery.clearfix{
	padding: 0px 10px 0px 10px;
}

.pp_social{
	display: none!important;
}

div.pp_default .pp_nav .currentTextHolder{
	font-size: 20px;
}

.bloco-trabalho{
	width: 33.33%;
}

.trabalhos-fotos{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; 
	height: 500px;
}

@media screen and (max-width: 980px){
	.bloco-trabalho{
		width: 100%;
		font-size: 50px;
	}
	.bloco-trabalho h3{
		font-size: 44px;
		margin-bottom: 50px;
	}

	.trabalhos-fotos{
		height: 300px;
	}

	.trabalhos h2{
		font-size: 100px;
	}
}
